* {
  box-sizing: border-box;
}
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  overscroll-behavior: contain;
  overflow:hidden;
}
body {
  margin: 0;
  padding: 0;
  background-color:#fbb040;
  position:absolute;
}

div#content {
  transition: 0.3s;
  width: 100vw;
}

[data-menu-state="open"] {
  position: fixed;
}

[data-menu-state="open"] #content {
  margin-left: 100px;
  top: 0;
  width: 100vw;
  /* height: 100vh; */
  /* overflow-y: scroll; */
}

div#menu {
  width: 30%;
  /* height: 100vh; */
  /* z-index: -1; */
  /* border: 1px solid red; */
  top: 50px;
  position: fixed;
  height: calc(100vh - 130px);
  overflow-y: scroll;
  color: #741b47;
}

.header {
  height: 60px;
  background-color:darkgray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  padding:20px;
  color: white;
  background-color:#741b47;
}
.header .label {
  top: 20px;
  position:fixed;
  left: 65px;
  top: 21px;
  font-size: 20px;
  font-weight: bold;
}

.header div#view {
  position: fixed;
  right: 50px;
  top: 20px;
  width: 25px;

}

.drag-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}
.board {
  position: relative;
  width: 100%;
  height:100%;
  /* left: 100px; */
  top: 50px;
  padding-top: 10px;
  /* overflow-y: scroll; */
}


.dragging {
  border: 5px solid #00aaee!important;
  box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.2);
  width:120px;
}

.board-column.muuri-item-dragging {
  z-index: 3;
  cursor: move;
  transform:rotate(-5deg);
}
.board-column-container {
  /* margin-left: 5%; */
  position: relative;
  width: auto;
  height: 100vh;
  /* margin-right: 5%; */
}

.board-column-content-wrapper {
  position: relative;
  padding: 8px;
  background: #bf1e74;
  overflow-y: auto;
  border-radius: 0 0 5px 5px;
  height: calc(100vh - 60px);
  top: 0;
}

.board-column-content {
  position: relative;
  min-height: 100%;
}


.board-item {
  position: absolute;
  margin: 10px;
  max-height: 100px;
  min-height: 100px;
  overflow-y: hidden;
  border: 1px solid black;
  padding: 0;
  border-radius: 5px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: white;
  text-align: left;
  border: 0px solid rgba(0,0,0,0);

}
.board-item .note-buttons {
  display: none;
}

.board-item.selected {
  border: 5px solid #00aaee;
  height: 110px;
  max-height: 110px;
}

.board-item.selected .note-buttons {
  display: block;
  width: 50%;
  right: 0;
  position: absolute;
  bottom: 0;
  text-align: right;
  padding-right: 15px;
}


.board-item textarea {
  width: 100%;
  height: 5.8em;
  border: none;
  overflow-y: hidden;
  padding: 15px;
}

[data-folder-view="list"] .board-item {
  width: auto;
  margin-left: 1em;
  margin-right: 1em;
  min-width: 94%;
} 

[data-folder-view="grid"] .board-item {
  width: 44%;
  float: left;
  /* margin-left: 1em; */
  /* margin-right: 1em; */
}

[data-direction="asc"] #direction {
  transform: rotate(180deg);
  margin-top: -3px;
}

[data-folder-view="list"] .list, [data-folder-view="grid"] .grid {
  display:none;
}


.board-item.muuri-item-releasing {
  z-index: 9998;
}
.board-item.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}
.board-item.muuri-item-hidden {
  z-index: 0;
}
.board-item-content {
  position: relative;
  /* padding: 20px; */
  background: #fff;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  /* box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.6); */
  /* padding-top: 15px; */
  /* padding-bottom: 15px; */
}


.folder {
  font-size: 15px;
  height: auto;
  /* padding-top: 20px; */
  width: 81px;
  color: #741b47;
  text-align: center;
  border: 1px solid #741b47;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 6px;
  margin-top: 16px;
  padding: 9px;
  border-radius: 15px;
  /* padding-bottom: 43px; */
}

.folder .material-icons {
  font-size: 38px;
  color: #00aaee;
}

#add-folder {
  position:fixed;
  bottom: 7px;
  left: 13px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  box-shadow: 3px 3px 10px #000000a8;
  color:  white;
  background-color: #00aaee;
}

#add-note {
  position:fixed;
  bottom: 7px;
  right: 13px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 3px 3px 10px #000000a8;
  color:  white;
  background-color: #00aaee;
  z-index: 10000;
}

#import-notes {
  position:fixed;
  bottom: 7px;
  left: 13px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 3px 3px 10px #000000a8;
  color:  white;
  background-color: #00aaee;
  z-index: 10000;
}

#export-notes {
  position:fixed;
  bottom: 7px;
  left: 73px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 3px 3px 10px #000000a8;
  color:  white;
  background-color: #00aaee;
  z-index: 10000;
}

#add-folder span.material-icons {
  font-size: 50px;
}

div#direction {
  /* float: right; */
  top: 0;
  position: absolute;
  top: 19px;
  right: 15px;
}

div#editor {
  display: none;
}

div#editor.visible {
  display: block;
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 100vw;
  z-index: 50;
}
div#editor.visible:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 51, 153, 0.8);
}


div#save-button {
  width: 4rem;
  height: 4rem;
  background-color: #00aaee;
  border-radius: 50%;
  position: absolute;
  right: 0;
  margin-top: -1rem;
  margin-right: 1rem;
  text-align: center;
  box-shadow: 3px 3px 10px #000000a8;
}

div#delete-button{ 
  position: fixed;
  left: 3rem;
  margin-top: -2.5rem;
}

div#delete-button .material-icons {
  color: #00aaee;
  font-size: 2rem;
}

div#save-button .material-icons {
  font-size: 3rem;
  color:white;
}


textarea#canvas {
  width: auto;
  background-color: white;
  height: 100%;
  min-height: 50vw;
  max-height: 50vh;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  position: relative;
  width: calc(100vw - 4rem);
  padding: 1rem;
  overflow-y: scroll;
}

div#word-count {
  height: 2rem;
  float: left;
  width: 8rem;
  color: black;
  position: absolute;
  left: 2rem;
  padding: 0.5rem;
  color: white;
  background-color: #00aaee;
  font-size: 1rem;
  text-align: center;
}



@media (max-width: 600px) {
  .board-item-content {
    /* text-align: center; */
  }
  .board-item-content span {
    display: none;
  }
}